<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="false">
	<targets>
		<!--
			archiveAboveSize = 100MB
			archiveFileName путь и имя архива логов. Без предыдущей строки файл логов просто переносится по указанному здесь пути
		-->
		<target xsi:type="File"
				name="file"
				archiveDateFormat="yyyy-MM-dd"
				archiveFileName="${environment:DATA_STORAGE_FOLDER}/{#}.zip"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				keepFileOpen="true"
				archiveAboveSize="104857600"
				fileName="${environment:DATA_STORAGE_FOLDER}/${date:format=yyyy-MM-dd}.log"
				layout="${date:format=yyyy.MM.dd HH\:mm\:ss.fff zz}|${uppercase:${level}}|${logger}|${ndlc:separator=|} ${message} ${exception:format=tostring}" />

		<target xsi:type="ColoredConsole" name="console" useDefaultRowHighlightingRules="true"
				 layout="${date:format=yyyy.MM.dd HH\:mm\:ss.fff zz}|${uppercase:${level}}|${logger}|${ndlc:separator=|} ${message} ${exception:format=tostring}" />
	</targets>
</nlog>
